.navBarItem {
  padding: 1rem;
  background-color: rgb(49, 47, 47);
  border-radius: 20px;
  width: 170px;
  text-align: center;
  margin-bottom: 5px;
}
.navBarItem:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 15px 4px #000000;
}
